* {
    margin: 0px;
    padding: 0px;
    font-family: "Balthazar", serif;


}

#training {
    /* border: 1px solid black; */
    height: 100vh;
}

nav {
    /* border: 1px solid black; */
    height: 80px;
    background-color: rgb(245, 120, 57);
    display: flex;
    justify-content: center;
    border: 3px solid rgb(232, 175, 18);
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: 1px 1px 10px 1px rgb(245, 120, 57);
}

#trainhead,
ul {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#trainhead {
    color: white;
    font-size: 32px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 24px;

}

li {
    list-style: none;

}

#sec {
    height: 30px;
    width: 150px;
    background-color: rgb(245, 120, 57);
    border: 3px solid rgb(248, 246, 243);
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: large;
    color: white;
}

select:focus {
    outline: none;


}

#cone1 {
    border: 1px solid rgb(254, 253, 253);
    margin-left: 20px;
}